@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

/* Landing section */

.landingSection {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.landingContainer {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.landingMovieContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 100px;
}

.landingMovieInfo {
  width: 404px;
  height: 285px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}
.landingMovieInfo h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;

  color: white;
}

.LandingRating {
  display: flex;
  gap: 20px;
  align-items: center;
}
.LandingRating p {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;

  color: white;
}
.landingOverview {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.landingtrailer {
  width: 179px;
  height: 40px;
  padding: 6px 16px 6px 16px;
  border-radius: 6px;
  gap: 8px;
  background-color: #be123c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.landingtrailer p {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}

.landingtrailer:hover {
  background-color: #800625;
  scale: 0.98;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.pagination {
  display: flex;
  flex-direction: column;
  color: white;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.pagination :nth-child(3) {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

/* Featured Section */

.featureSection {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.featureContainer {
  height: 100%;
  width: 87%;
  padding: 40px 0;
}

.featureHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.featureHeader p {
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.featureHeader a {
  color: #be123c;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.featuredList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.movieDetailSection {
  display: flex;
  gap:55px;
}

.movieDetailPoster {
  width: 1198px;
  height: 263px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.movieDetailContainer{
  display: flex;
  flex-direction: column;
}

.movieDetailInfo{
  display: flex;
  align-items: center;
  font-family: "Poppins";
font-size: 23px;
font-weight: 700;
line-height: 35px;
color: #404040;
padding: 20px 0;
justify-content: space-between;
}

.movieDetailText{
  display: flex;
  gap: 10px;
}

.movieDetailRating{
  display: flex;
  align-items: center;
}

.movieDetailRating p:nth-child(1){
  color: #E8E8E8;
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 500;
  line-height: 38px;
}

@media (max-width: 768px) {
  .landingMovieContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  .landingMovieInfo h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;

    color: white;
  }

  .landingtrailer {
    width: 160px;
    height: 35px;
    padding: 6px 13px 6px 13px;
    border-radius: 6px;
    gap: 8px;
    background-color: #be123c;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
  }

  .landingtrailer p {
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
  }

  .pagination {
    display: none;
  }

  .featureHeader p {
    font-size: 20px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
  }

  .featuredList {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }
}
